<html>
<head>
    <title>Twig Calculator</title>
</head>
<body>
<h1>Calculator</h1>
<form action="calculator.php" method="GET">
    <input type="number" name="a" value="{{ a }}"/>
    <select name="operation">
        <option value="+" {{ operation=='+'?"selected":"" }}>+</option>
        <option value="-" {{ operation=='-'?"selected":"" }}>-</option>
        <option value="*" {{ operation=='*'?"selected":"" }}>*</option>
        <option value="/" {{ operation=='/'?"selected":"" }}>/</option>
    </select>
    <input type="number" name="b" value="{{ b }}"/>
    <input type="submit" value="="/>
    {{ result }}
</form>
</body>
</html>